@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Inter", "Raleway";
}

.raleway{
  font-family: "Raleway";
}

.movie-card:hover {
  background-color: black;
}

.movie-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
}

.movie-card:hover .movie-description {
  display: block;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .btn-primary{
    @apply font-semibold bg-indigo-500 py-2 px-4 rounded-md hover:bg-indigo-600;
  }
  .btn-secondary{
    @apply text-gray-400 font-semibold hover:text-white py-2 px-4 rounded-md border-[1.2px] border-gray-800 hover:border-gray-400
  }
}